<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cybernerd404.bgmiguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.CompanionBattleGroundIndia">
        <activity android:name=".view.information.guns.FilterGunActivity"></activity>
        <activity android:name=".view.quiz.QuizResultActivity" />
        <activity android:name=".view.quiz.BGMIItemQuizActivity" />
        <activity android:name=".view.quiz.RandomQuizActivity" />
        <activity android:name=".view.quiz.WeaponQuizActivity" />
        <activity android:name=".view.information.sounds.SoundsActivity" />
        <activity android:name=".view.information.maps.MapsActivity" />
        <activity android:name=".view.information.guns.GunsActivity" />
        <activity android:name=".view.setting.WebViewActivity" />
        <activity android:name=".ComingSoonActivity" />
        <activity android:name=".view.home.wallpapers.WallpaperActivity" />
        <activity android:name=".view.home.topvideos.VideoActivity" />
        <activity android:name=".view.home.news.NewsActivity" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>